@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-900);
}

html.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
}

html.dark body {
  background: var(--background);
  color: var(--foreground);
}

@utility text-description {
  color: var(--color-neutral-600);

  &:where(.dark, .dark *) {
    color: var(--color-neutral-300);
  }
}

@utility text-black-white-reverse {
  color: var(--color-neutral-900);

  &:where(.dark, .dark *) {
    color: var(--color-neutral-100);
  }
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition:
    background 0.4s ease,
    color 0.4s ease;
}
